body{
    background-color: rgb(54, 54, 54);
}


.d-none{
    display: none;
}

.container-flex{
    display: flex;
    justify-content: center;
}

.consegna{
    color: white;
    font-size: 19px;
}

.title{
    color: rgb(237, 243, 183)
}